.contacts {
  // .contacts__phone
  &__phone {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
    transition: color 0.2s;

    &:hover {
      color: #780096;
    }
  }

  // .contacts__list
  &__list {
    display: flex;
    gap: 8px;
  }

  // .contacts__item
  &__item {
    transition: color 0.2s;

    &:hover {
      color: #780096;
    }
  }

  // .contacts__link
  &__link {
  }
}
