/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v40-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/open-sans-v40-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  position: relative;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #1c1c1c;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

#root {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, fieldset {
  margin: 0;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.btn {
  display: block;
  width: 100%;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #780096;
  outline: none;
  border-radius: 32px;
  border: 1px solid #780096;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: #780096;
    color: #fff;
  }

  &:focus:not(:hover) {
    color: #780096;
    border-color: #c0f;
  }

  &:focus-visible:not(:hover) {
    color: #780096;
    border-color: #c0f;
  }

  &:active {
    color: #780096;
    border-color: #c0f;
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
  }

  &_filled {
    color: #fff;
    background-color: #780096;

    &:hover {
      background-color: #9200b7;
    }

    &:focus:not(:hover) {
      color: #fff;
      border-color: #c0f;
      background-color: #780096;
    }

    &:focus-visible:not(:hover) {
      color: #fff;
      border-color: #c0f;
      background-color: #780096;
    }

    &:active {
      color: #fff;
      border-color: #c0f;
      background-color: #780096;
    }
  }
}

.favorite-icon path {
  transition: fill 0.2s;
}

.favorite-btn {
  &:hover,
  &_active {
    .favorite-icon {
      fill: #780096;
      color: #780096;
    }
  }

  &:active {
    .favorite-icon {
      fill: #c0f;
      color: #c0f;
    }
  }
}