.picture {
  margin-bottom: 32px;

  @media (min-width: 580px) {
    margin-bottom: 40px;
  }

  @media (min-width: 820px) {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.sliderMain {
  position: relative;
  width: 100%;
  //height: 74vw;
  //max-height: 688px;

  @media (min-width: 580px) {
    margin-bottom: 14px;
    //height: 92vw;
  }

  //@media (min-width: 820px) {
  //  height: 60vw;
  //}
  //
  //@media (min-width: 1120px) {
  //  height: 48vw;
  //}
}

.mainList {
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  z-index: 10;

  rect {
    transition: fill-opacity 0.2s ease-in-out;
  }

  &:hover rect {
    fill-opacity: 1;
  }

  // arrow_next
  &_next {
    right: 16px;

    @media (min-width: 580px) {
      right: 24px;
    }
  }

  // .arrow_prev
  &_prev {
    left: 16px;

    @media (min-width: 580px) {
      left: 24px;
    }
  }
}

.sliderThumb {
  display: none !important;

  @media (min-width: 580px) {
    display: block !important;
    //height: 22vw;
    //max-height: 138px;
  }

  //@media (min-width: 820px) {
  //  height: 12vw;
  //  max-height: 120px;
  //}
  //
  //@media (min-width: 820px) {
  //  height: 12vw;
  //  max-height: 120px;
  //}
  //
  //@media (min-width: 1120px) {
  //  max-height: 162px;
  //}
}

.thumbList {
}

.thumbSlide {
  border-radius: 16px;
  overflow: hidden;
}

.thumbImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}